

#fruit-list{
  list-style-type: none;
  padding: 0;
}

img {
  width: 50%;
  height: 50%;
}

#center-div{
  text-align: center;
}

a {
  display: block;
}

#container{
  text-align: center;
}

h1{
  text-align: center;
}

svg{
  border: 1px solid black;
}