

#fruit-list{
  list-style-type: none;
  padding: 0;
  
}

.fruit-item:not(:last-child){
  margin-bottom: 50px;
}

img {
  width: 50%;
  height: 50%;
}

#center-div{
  text-align: center;
}

a {
  display: block;
}

#container{
  text-align: center;
}

h1{
  text-align: center;
}

svg{  /* Border for barcode */
  border: 1px solid black;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}